body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgb(34, 200, 255), rgb(159, 189, 255));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .history-container {
    width: 60%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .history-container h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
  }
  
  .history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .history-item:last-child {
    border-bottom: none;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .user-name {
    font-weight: bold;
    color: #555;
  }
  
  .task-details {
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
    color: #333;
  }
  
  .timestamp {
    color: #888;
    font-size: 14px;
  }
  